@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 0 0% 100%;
    --foreground: 321 5% 0%;
    --card: 321 50% 90%;
    --card-foreground: 321 5% 10%;
    --popover: 321 100% 95%;
    --popover-foreground: 321 100% 0%;
    --primary: 321 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 321 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 283 30% 85%;
    --muted-foreground: 321 5% 35%;
    --accent: 283 30% 80%;
    --accent-foreground: 321 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 321 5% 90%;
    --border: 321 30% 50%;
    --input: 321 30% 18%;
    --ring: 321 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 321 50% 5%;
    --foreground: 321 5% 90%;
    --card: 321 50% 0%;
    --card-foreground: 321 5% 90%;
    --popover: 321 50% 5%;
    --popover-foreground: 321 5% 90%;
    --primary: 321 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 321 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 283 30% 15%;
    --muted-foreground: 321 5% 60%;
    --accent: 283 30% 15%;
    --accent-foreground: 321 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 321 5% 90%;
    --border: 321 30% 18%;
    --input: 321 30% 18%;
    --ring: 321 100% 50%;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}



@media screen and (width < 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-button-disabled {
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: #FF00A6;
  --swiper-navigation-size: 24px;
  background-color: #fff !important;
  border-radius: 9999px;
  padding: 25px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform: translateY(-25%);
  --swiper-navigation-top-offset: 50%;
}

.swiper-button-next {}

/* .swiper-button-next {
  content: '';
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(to right, #fff, transparent);

} */